name: Deploy JSON schema to GitHub Pages

on:
  push:
    branches: [master]
    paths:
      - src/schemas.ts
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5

      - name: Enable Corepack
        run: npm install -g corepack

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
          cache: yarn

      - name: Install dependencies
        run: corepack yarn install

      - name: Build and generate schema
        run: corepack yarn run build

      - name: Move schema to artifact folder
        run: mv ./jolt-config.schema.json ${{ runner.temp }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ${{ runner.temp }}

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
